@import url('https://fonts.googleapis.com/css?family=Catamaran:400,700');
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Catamaran,sans-serif;
  font-size: 18px;
}

@media only screen and (min-width: 768px) {
  .container{
    width: 840px;
  }

}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

pre{
  border: 0;
}

footer{
  padding-top: 100px;
  height: 100px;
}
.btn-custom{
  background: #cecece;
  color: #fff;
  &:hover{
    color: #000;
    background: transparent;
    border: 1px solid #cecece;
  }
}

/* NAV BAR */
.navbar{
  z-index: 20;
  margin-bottom: 0px;
  .navbar-header{
    height: 72px;
  }
  .navbar-nav > li > a{
    font-size: 18px;
    text-transform: uppercase;
    line-height: 40px;
  }
  .logo {
    margin-top: 7px;
    margin-left: 15px;
    display: block;
    height: 49px;
    width: 150px;
    background: url("assets/logo.svg");
  }
  .navbar-toggle{
    margin: 19px;
  }


  @media only screen and (max-width: 768px) {
    .opened{
      .navbar-nav {
        opacity: 1;
        transform: translateY(0px) scale(1);
      }
    }
    .closed{
      background: transparent;
      .navbar-nav {
        opacity: 0;
        transform: scale(0.9);
      }
      .navbar-header{
        background: transparent;
        border: 0;
      }
    }
    .navbar-header{
      position: relative;
      z-index: 15;
      background: #fff;
      border-bottom: 1px solid #eee;
    }
    .navbar-nav {
      z-index: 10;
      transition: all 0.5s ease;
      position: absolute;
      background: #fff;
      width: 100%;
      left: 0;
      margin: 0;
    }
  }
}

.navbar-default {
  background-color: transparent;
  border: 0;
}

/* HERO */
.hero {
  display: table;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(./assets/bg-2.jpg) no-repeat bottom center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  .btn {
    border: 1px solid #fff;
    font-size: 14px;
    &:hover{
      color: #fff;
    }
  }
}

.hero h1 {
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
}

.text-vertical-center {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

/* PRELOADER */
.preloader-wrapper{
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #fff;
  z-index: 30;
}
@for $i from 1 through 6 {
  @keyframes preload-show-#{$i}{
    from {
      transform: rotateZ(60* $i + deg) rotateY(-90deg) rotateX(0deg);
      border-left-color: #9c2f2f;
    }
  }
  @keyframes preload-hide-#{$i}{
    to {
      transform: rotateZ(60* $i + deg) rotateY(-90deg) rotateX(0deg);
      border-left-color: #9c2f2f;
    }
  }

  @keyframes preload-cycle-#{$i}{

    $startIndex: $i*5;
    $reverseIndex: (80 - $i*5);

    #{$startIndex * 1%} {
      transform: rotateZ(60* $i + deg) rotateY(90deg) rotateX(0deg);
      border-left-color: #9c2f2f;
    }
    #{$startIndex + 5%},
    #{$reverseIndex * 1%} {
      transform: rotateZ(60* $i + deg) rotateY(0) rotateX(0deg);
      border-left-color: #f7484e;
    }

    #{$reverseIndex + 5%},
    100% {
      transform: rotateZ(60* $i + deg) rotateY(90deg) rotateX(0deg);
      border-left-color: #9c2f2f;
    }
  }
}

@keyframes preload-flip {
  0% {
    transform: rotateY(0deg) rotateZ(-60deg);
  }
  100% {
    transform: rotateY(360deg) rotateZ(-60deg);
  }
}

.preloader {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 20px;
  display: block;
  width: 3.75em;
  height: 4.25em;
  margin-left: -1.875em;
  margin-top: -2.125em;
  transform-origin: center center;
  transform: rotateY(180deg) rotateZ(-60deg);

  .slice {
    border-top: 1.125em solid transparent;
    border-right: none;
    border-bottom: 1em solid transparent;
    border-left: 1.875em solid #f7484e;
    position: absolute;
    top: 0px;
    left: 50%;
    transform-origin: left bottom;
    border-radius: 3px 3px 0 0;
  }

  @for $i from 1 through 6 {
    .slice:nth-child(#{$i}) {
      transform: rotateZ(60* $i + deg) rotateY(0deg) rotateX(0);
      animation: .15s linear .9 - $i*.08s preload-hide-#{$i} both 1;
    }
  }

  &.loading {
    animation: 2s preload-flip steps(2) infinite both;
    @for $i from 1 through 6 {
      .slice:nth-child(#{$i}) {
        transform: rotateZ(60* $i + deg) rotateY(90deg) rotateX(0);
        animation: 2s preload-cycle-#{$i} linear infinite both;
      }
    }
  }

}

/* HEADER */
.intro-header{
  height: 420px;
  background-position: center;
  background-color: #2d2d2d;
}

.preload-images {
  background: url('./assets/bg-2.jpg') no-repeat -9999px -9999px;
  background: url('./assets/bg-2.jpg') no-repeat -9999px -9999px,
  url('./assets/blog.jpg') no-repeat -9999px -9999px,
  url('./assets/contact.jpeg') no-repeat -9999px -9999px,
  url('./assets/about.jpeg') no-repeat -9999px -9999px,
  url('../public/upload/default.jpg') no-repeat -9999px -9999px;
}
/* POSTS */
.blog-post{
  padding: 1em 0;
  text-align: center;
  a{
    text-transform: uppercase;
    text-decoration: none;
  }
  h3{
    font-size: 36px;
  }
  .short-body{
    line-height: 1.5;
  }
  .subheading{
    font-size: 16px;
    padding: 10px;
    color: #a7a7a7;
  }
}

.blog {
  text-align: center;
}


.component-fade-enter-active, .component-fade-leave-active {
  transition: opacity .3s ease;
}
.component-fade-enter, .component-fade-leave-to
  /* .component-fade-leave-active for <2.1.8 */ {
  opacity: 0;
}

p {
  line-height: 1.5;
  margin: 30px 0;
}
p a {
  text-decoration: underline;
}


.floating-label-form-group {
  font-size: 14px;
  position: relative;
  margin-bottom: 0;
  padding-bottom: 1.2em;
  border-bottom: 1px solid #eeeeee;
}

.floating-label-form-group input,
.floating-label-form-group textarea {
  z-index: 1;
  position: relative;
  padding-right: 0;
  padding-left: 0;
  border: none;
  border-radius: 0;
  font-size: 1.5em;
  background: none;
  box-shadow: none !important;
  resize: none;
}

.floating-label-form-group label {
  display: block;
  z-index: 0;
  position: relative;
  top: 2em;
  margin: 0;
  font-size: 0.85em;
  line-height: 1.764705882em;
  vertical-align: middle;
  vertical-align: baseline;
  opacity: 0;
  -webkit-transition: top 0.3s ease, opacity 0.3s ease;
  -moz-transition: top 0.3s ease, opacity 0.3s ease;
  -ms-transition: top 0.3s ease, opacity 0.3s ease;
  transition: top 0.3s ease, opacity 0.3s ease;
}

.floating-label-form-group::not(:first-child) {
  padding-left: 14px;
  border-left: 1px solid #eeeeee;
}

.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1;
}

.floating-label-form-group-with-focus label {
  color: #0085A1;
}

form .row:first-child .floating-label-form-group {
  border-top: 1px solid #eeeeee;
}


.preview{
  padding-top: 20px;
}

.page-heading {
  color: #fff;
}

.intro-header .page-heading {
  padding: 150px 0;
}
.intro-header .site-heading,
.intro-header .page-heading {
  text-align: center;
}
.intro-header .site-heading h1,
.intro-header .page-heading h1 {
  margin-top: 0;
  font-size: 50px;
}
.intro-header .site-heading .subheading,
.intro-header .page-heading .subheading {
  font-size: 24px;
  line-height: 1.1;
  display: block;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  margin: 10px 0 0;
}
@media only screen and (min-width: 768px) {
  .intro-header .site-heading h1,
  .intro-header .page-heading h1 {
    font-size: 80px;
  }
}
.intro-header .post-heading h1 {
  font-size: 35px;
}
.intro-header .post-heading .subheading,
.intro-header .post-heading .meta {
  line-height: 1.1;
  display: block;
}
.intro-header .post-heading .subheading {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 24px;
  margin: 10px 0 30px;
  font-weight: 600;
}
.intro-header .post-heading .meta {
  font-family: 'Lora', 'Times New Roman', serif;
  font-style: italic;
  font-weight: 300;
  font-size: 20px;
}
.intro-header .post-heading .meta a {
  color: white;
}
@media only screen and (min-width: 768px) {
  .intro-header .post-heading h1 {
    font-size: 55px;
  }
  .intro-header .post-heading .subheading {
    font-size: 30px;
  }
}

.btn {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 1px;
  border-radius: 0;
  padding: 15px 25px;
}

.btn-lg {
  font-size: 16px;
  padding: 25px 35px;
}

.btn-default:hover,
.btn-default:focus {
  background-color: #0085A1;
  border: 1px solid #0085A1;
  color: white;
}