<div class="preload-images"></div>
<div id="app">
    <app-header></app-header>
    <transition name="component-fade" mode="out-in">
        <router-view></router-view>
    </transition>
    <div v-show="loading">
        <div class="preloader-wrapper">
            <div class="preloader loading">
                <span class="slice"></span>
                <span class="slice"></span>
                <span class="slice"></span>
                <span class="slice"></span>
                <span class="slice"></span>
                <span class="slice"></span>
            </div>
        </div>
    </div>
</div>
<script src="/dist/build.js?v={{version}}"></script>