<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <meta name="author" content="">
      <title>{{title}}</title>
      <link rel="stylesheet" href="/dist/style.css?v={{version}}">
  </head>
  <body>
    {{{body}}}
  </body>
</html>
