<template>
    <div>
        <header class="intro-header about-header">
            <div class="container">
                <div class="page-heading">
                    <h1>About Me</h1>
                    <hr class="small">
                </div>
            </div>
        </header>

        <!-- Main Content -->
        <div class="container">
            <p>Hi, I'm a web developer from Kyiv, Ukraine. My main specialization is back-end development, but actually,
                I can do everything that regular programmer do, including front-end development and server configuration.</p>
            <p>My interests include a lot of things like programming, *nix, DIY, robototechnics, CGI and VFX, sci-fi movies,  science, machine learning and so on.
                Except this, I like gaming, especially indie games, good horrors and strategies.</p>
            <p>I enjoy traveling and tourism. Mountains is really an awesome place.</p>

            <br><br><br>
        </div>
        <app-footer></app-footer>
    </div>
</template>

<script>
    export default {
        data: () => {
            return {}
        },
        methods: {}
    }
</script>

<style>
    .about-header{
        background-image: url('../assets/about.jpeg');
    }
</style>
