<template>
    <footer>
        <div class="container">
            <ul class="list-inline text-center">
                <li>
                    <a href="https://telegram.me/Skyfortress">
            <span class="fa-stack fa-lg">
            <i class="fa fa-telegram fa-stack-1x"></i>
            </span>
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/profile.php?id=100006760756945">
            <span class="fa-stack fa-lg">
            <i class="fa fa-facebook-official fa-stack-1x"></i>
            </span>
                    </a>
                </li>
                <li>
                    <a href="https://github.com/skyfortress">
                        <span class="fa-stack fa-lg">
                        <i class="fa fa-github fa-stack-1x"></i>
                        </span>
                    </a>
                </li>
            </ul>
            <p class="copyright text-muted pull-left">Copyright &copy; skyfortress.com.ua 2017</p>
            <p v-if="isAdmin" class="pull-right"><a><i class="fa fa-pencil" @click="createRedirect"></i></a></p>
            <p v-else class="pull-right"><a @click="showModal = true"><i class="fa fa-lock"></i></a></p>
        </div>
        <!-- use the modal component, pass in the prop -->
        <modal v-if="showModal" @close="showModal = false">
            <h3 slot="header">Restricted area</h3>
            <div slot="body">
                <div class="floating-label-form-group controls">
                    <label>Title</label>
                    <input
                            type="password"
                            class="form-control"
                            placeholder="Password"
                            v-model="password"
                            @keyup.enter="login"
                    >
                </div>
            </div>
            <div slot="footer">
                <button class="btn" @click="login">
                    OK
                </button>
            </div>
        </modal>
    </footer>
</template>

<script>
    import modal from './modal.vue'
    import auth from '../auth';

    export default {
        data: () => {
            return {
                password: '',
                showModal: false,
                isAdmin: auth.isAdmin
            }
        },
        components: {
            modal
        },
        methods: {
            createRedirect: function () {
                this.$router.push({name: 'create'})
            },
            login: function () {
                this.$http.post('/api/user/login', {password: this.password})
                    .then((res) => {
                        auth.isAdmin = true;
                        this.createRedirect();
                        return this;
                    })
                    .catch(() => {
                        this.showModal = false;
                    });
            }
        }
    }
</script>