<template>
    <nav class="navbar navbar-default">
        <div class="container-fluid" :class="[collapsed ? 'closed' : 'opened']">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" @click="toggleMenu">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <router-link to="/" class="navbar-brand" href="/"><div class="logo"></div></router-link>
            </div>
            <div id="navbar" class="nav navbar-nav navbar-right">
                <ul class="nav navbar-nav" @click="toggleMenu">
                    <li><router-link to="/blog">Blog</router-link></li>
                    <li><router-link to="/about">About</router-link></li>
                    <li><router-link to="/contact">Contact</router-link></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
</template>

<script>
    export default {
        data: () => {
            return {
                collapsed: true
            }
        },
        methods: {
            toggleMenu: function () {
                this.collapsed = !this.collapsed;
            }
        }
    }
</script>