<template>
    <div>
        <header class="intro-header blog-header">
            <div class="container">
                <div class="row">
                    <div class="page-heading">
                        <h1>Blog</h1>
                        <hr class="small">
                        <span class="subheading">Thoughts and ideas</span>
                    </div>
                </div>
            </div>
        </header>
        <div class="container blog">
            <div class="blog-post" v-for="(post, index) in posts">
                <h2 class="section-heading"><router-link :to="{ name: 'post', params: { id: post.url } }" >{{ post.title }}</router-link></h2>
                <div class="subheading">{{ post.created }}</div>
                <div class="short-body" v-html="post.shortText"></div>
                <hr>
            </div>
            <a v-on:click="loadMore" v-if="shouldLoadMore" class="btn btn-custom">load more</a>
        </div>
        <app-footer></app-footer>
    </div>
</template>

<script>1
    module.exports = {
        data: function () {
            return {
                limit: 5,
                offset: 0,
                shouldLoadMore: true,
                posts: []
            }
        },
        methods: {
            loadMore: function (e) {
                e.preventDefault();
                this.offset = this.offset + this.limit;
                this.getPosts(this.offset);
            },
            getPosts: function (offset) {
                this.$http.get('/api/posts/', {
                    params: {
                        limit: this.limit,
                        offset: offset
                    }
                }).then((response) => {
                    if (response.data.length < 5) {
                        this.shouldLoadMore = false;
                    }
                    this.posts = this.posts.concat(response.data);
                });
            }
        },
        created: function () {
            this.getPosts(this.offset);
        }
    }
</script>
<style>
    .blog-header{
        background-image: url('../assets/blog.jpg')
    }
</style>