<template>
    <div>
        <header class="intro-header contact-header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                        <div class="page-heading">
                            <h1>Contact Me</h1>
                            <hr class="small">
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="container">
            <p>Want to get in touch with me? Fill out the form below to send me a message and I will try to get
                back to you as soon as possible!</p>
            <form name="sentMessage" id="contactForm" novalidate>
                <div class="row control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        <label>Name</label>
                        <input type="text"
                               class="form-control"
                               placeholder="Name"
                               name="name"
                               v-validate="'required'"
                               :class="{'is-danger': errors.has('name') }"
                               v-model="form.name"
                        >
                        <span v-show="errors.has('name')" class="text-danger">{{ errors.first('name') }}</span>
                    </div>
                </div>
                <div class="row control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        <label>Email Address</label>
                        <input type="email"
                               name="email"
                               class="form-control"
                               v-model="form.email"
                               placeholder="Email Address"
                               v-validate="'required|email'"
                               :class="{'is-danger': errors.has('email') }"
                        >
                        <span v-show="errors.has('email')" class="text-danger">{{ errors.first('email') }}</span>
                    </div>
                </div>
                <div class="row control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        <label>Message</label>
                        <textarea rows="5"
                                  class="form-control"
                                  v-model="form.message"
                                  placeholder="Message"
                                  name="message"
                                  v-validate="'required'"
                                  :class="{'is-danger': errors.has('email') }"
                        ></textarea>
                        <span v-show="errors.has('message')" class="text-danger">{{ errors.first('message') }}</span>
                    </div>
                </div>
                <br>
                <div id="success"></div>
                <div class="row">
                    <div class="form-group col-xs-12">
                        <button type="submit" class="btn btn-custom" v-on:click="send">Send</button>
                    </div>
                </div>
            </form>
            <modal v-if="isSent" @close="closeSuccessModal">
                <h3 slot="header">Thank you!</h3>
                <div slot="body" class="text-center">
                </div>
                <div slot="footer">
                    <button class="btn btn-success" @click="closeSuccessModal">
                        OK
                    </button>
                </div>
            </modal>
        </div>
        <app-footer></app-footer>
    </div>
</template>

<script>
    import modal from './modal.vue';

    module.exports = {
        data: function () {
            return {
                isSent: false,
                form: {
                    name: '',
                    email: '',
                    message: ''
                }
            }
        },
        components: {
            modal
        },
        methods: {
            closeSuccessModal: function (e) {
                this.isSent = false;
            },
            send: function (event) {
                event.preventDefault();
                this.$validator.validateAll().then(() => {
                    return this.$http.post('/api/emails/', this.form);
                }).then((response) => {
                    this.form = {};
                    this.isSent = true;
                }).then(() => {
                    this.errors.clear();
                }).catch(() => {

                });
            }
        }
    }
</script>
<style>
    .contact-header{
        background-image: url('../assets/contact.jpeg')
    }
</style>