<template>
    <div>
        <vue-clip :options="options" :on-complete="onBackgroundChange">
            <template slot="clip-uploader-action">
                <header class="intro-header"  v-bind:style="{ backgroundImage: 'url(' + image + ')'}">
                    <div class="container">
                        <div class="row">
                            <div class="page-heading">
                                <h1 contenteditable="true" @keyup="dataBind" id="title">{{title}}</h1>
                            </div>
                        </div>
                    </div>
                </header>
            </template>
        </vue-clip>
        <div class="container">
            <form name="sentMessage" id="contactForm" novalidate>
                <div class="row control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        <label>Article body</label>
                        <textarea
                                rows="20"
                                class="form-control"
                                v-model="body"
                                placeholder="Body"
                                id="body">
                                </textarea>
                    </div>
                </div>
                <div class="row control-group">
                    <div class="form-group col-xs-12">
                        <uploader v-on:pickFile="pickFile" :options="options"></uploader>
                    </div>
                </div>
                <div class="row control-group">
                    <div class="form-group col-xs-12">
                        <div v-html="html" class="preview"></div>
                    </div>
                </div>
                <br>
                <div id="success"></div>
                <div class="row">
                    <div class="form-group col-xs-12">
                        <button type="submit" class="btn my-button" v-on:click="send">Send</button>
                    </div>
                </div>
            </form>
        </div>
        <modal v-if="isCreated" @close="redirect">
            <h3 slot="header">Post created!</h3>
            <div slot="body" class="text-center">
            </div>
            <div slot="footer">
                <button class="btn btn-success" @click="redirect">
                    OK
                </button>
            </div>
        </modal>
        <app-footer></app-footer>
    </div>
</template>

<script>
    import modal from './modal.vue';

    module.exports = {
        data: function () {
            return {
                options: {
                    url: '/api/upload',
                    paramName: 'file'
                },
                isCreated: false,
                image: '/upload/default.jpg',
                title: 'Page title',
                body: '',
                shortText: '',
                html: ''
            }
        },
        watch: {
            body: function (body) {
                require.ensure([], () => {
                    const marked = require('marked');
                    const hjs = require('highlight.js');
                    marked.setOptions({
                        highlight: function (code) {
                            return hjs.highlightAuto(code).value;
                        }
                    });

                    let result = this.body.match( /([\s\S]*?)-{3,}/ );
                    if (result) {
                        this.shortText = marked(result[1], {sanitize: true})
                    }

                    this.html = marked(body, {sanitize: true});
                })
            }
        },
        components: {
            modal,
            uploader: require('./uploader.vue')
        },
        methods: {
            onBackgroundChange: function (file, status, xhr) {
                this.image = '/upload/' + file.name;
            },
            redirect: function() {
                this.$router.push({path: '/blog'});
            },
            dataBind: function (e) {
                this.title = document.getElementById('title').textContent;
            },
            pickFile: function (file) {
                if (file.type.indexOf('image') !== -1) {
                    this.body += '![](/upload/' + file.name + ')';
                }
            },
            send: function (event) {
                event.preventDefault();
                this.$http.post('/api/posts/', {
                    title: this.title,
                    body: this.body,
                    shortText: this.shortText,
                    html: this.html,
                    image: this.image
                }).then((response) => {
                    this.isCreated = true;
                });
            }
        }
    }
</script>
<style>
    [contenteditable]:focus {
        outline: 0px solid transparent;
    }
    .dz-clickable{
        cursor: pointer;
    }
</style>