<template>
    <div id="top" class="hero">
        <div class="text-vertical-center">
            <h1>Alexey Bondarenko</h1>
            <h3>Software developer</h3>
            <br>
            <router-link to="/blog" class="btn">Find Out More</router-link>
        </div>
    </div>
</template>

<script>
    export default {
        data: () => {
            return {}
        },
        methods: {}
    }
</script>
