<template>
    <div>
        <div class="post" v-if="post">
            <header class="intro-header" v-bind:style="{ backgroundImage: 'url(' + post.image + ')'}">
                <div class="container">
                    <div class="row">
                        <div class="page-heading">
                            <h1>{{ post.title }}</h1>
                        </div>
                    </div>
                </div>
            </header>
            <div class="container">
                <div v-html="post.html"></div>
                <div class="comments">
                    <disqus shortname="sky4tress"></disqus>
                </div>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
</template>

<script>
    import VueDisqus from 'vue-disqus/VueDisqus.vue'

    module.exports = {
        data: function () {
            return {
                post: null
            }
        },
        components: {
            disqus: VueDisqus
        },
        created: function () {
            const that = this;
            this.$http.get('/api/posts/' + this.$route.params.id).then((response) => {
                this.post = response.data;
            });
        }
    }
</script>