<template>
    <vue-clip :options="options">
        <template slot="clip-uploader-body" scope="props">
            <div v-for="file in props.files" class="uploader-list" v-on:click="pickFile(file)">
                <img v-bind:src="file.dataUrl" />
                {{ file.name }} <div class="status">{{ file.status }}</div>
            </div>
        </template>
        <template slot="clip-uploader-action">
            <div class="uploader">
                <div class="dz-message">Click or Drag and Drop files here upload</div>
            </div>
        </template>
    </vue-clip>
</template>

<script>
    export default {

        data () {
            return {
            }
        },
        props: ['options'],
        methods: {
            pickFile: function(file, e) {
                this.$emit('pickFile', file);
            }
        }

    }
</script>

<style lang="sass" rel="stylesheet/scss">
    .uploader{
        margin-top: 20px;
        text-align: center;
        padding: 20px 0;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        border: 2px dashed #d1d1d1;
        background: #f5f5f5;
        color: #aeaeae;
    }
    .status{
        margin: 20px 10px;
        float: right;
        font-size: 12px;
        text-transform: uppercase;
    }
    .uploader-list {
        margin-top: 20px;
        color: #989898;
        img {
            width: 50px;
            height: 50px;
            margin: 5px 25px 5px 5px;
        }
        border-bottom: 1px solid #eee;
        font-size: 16px;
    }
</style>